.paginateContainer {
  /* background-color: blue; */
  padding: 1rem;
}

.CustomPagination {
  width: 80%;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid crimson;
  border-radius: 10px;
  background-color: black;
  padding: 0.55rem;
  margin: 1rem auto;
}

.active {
  padding-top: 0.3rem;
  cursor: pointer;
}

.NextPrev {
  /* background-color: crimson; */
  cursor: pointer;
  padding: 0.3rem;
  border-radius: 9px;
}

.NextPrev:hover {
  background-color: crimson;
}
