.breadcrumbs {
  padding: 0.44rem;
  max-width: 100%;
  text-align: center;
  border-radius: 10px;

  header {
    text-decoration: underline;
  }
}

.breadcrumbs > * {
  display: inline-block;
  margin-right: 0px;
}

.breadcrumbs .crumb::after {
  content: ">";
  margin: 10px;
}

.breadcrumbs .crumb:last-child::after {
  display: none;
}

.breadcrumbs .crumb a {
  columns: #ddd;
}
